/* Основной цвет текста #757575 */
/* Вторичный цвет текста #212121 */
/* Цвет акцента #2196F3 */
/*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  }
  */
:root {
  --rgba-color-for-tel-mail: rgba(255, 255, 255, 0.6);
  --button-background-color: #f5f4fa;
  --sometimes-black-text-color: #000000;
  --primary-text-color: #757575;
  --titel-text-color: #212121;
  --accent-text-color: #2196f3;
  --sometimes-white-text-color: #ffffff;
  --background-color-footer-section-hero: #2f303a;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
}

.list {
  list-style-type: none;
  text-decoration: none;
}
.link {
  list-style-type: none;
  text-decoration: none;
}
/* SECTION HEADER */
header {
  background-color: var(--sometimes-white-text-color);
}
/* HEADER LOGO WEBSTUDIO */

.logo {
  font-family: 'Raleway', 'sans-serif';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  left: 215px;
  top: 24px;
  color: var(--sometimes-black-text-color);
}

.logo-studio-part {
  color: var(--accent-text-color);
}
/* END HEAD LOGO WEBSTUDIO */

/* NAV BUTTONS IN HEADER */
.nav-link {
  color: var(--titel-text-color);
}
.nav-link:focus,
.nav-link:hover {
  color: var(--accent-text-color);
}

.page-nav .nav-link.current {
  color: var(--accent-text-color);
}

.nav-link-mail,
.nav-link-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/* CONTACTS BUTTONS IN HEADER  */
.contact-button .link:focus,
.contact-button .link:hover {
  color: var(--accent-text-color);
}
/* END CONTACTS BUTTONS IN HEADER */

/* END NAV BUTTONS IN HEADER */

/* END SECTION HEADER */

/* SECTION HERO */
.section-hero {
  background-color: var(--background-color-footer-section-hero);
}

/*  TITLE IN SECTION HERO */
.section-title-hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--sometimes-white-text-color);
}
/* END TITLE IN SECTION HERO */

/* BUTTON IN SECTION HERO */
.hero-button {
  background-color: var(--accent-text-color);
}
.hero-button:hover,
.hero-button:focus {
  color: var(--titel-text-color);
}
.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: var(--sometimes-white-text-color);
}
/* END BUTTON IN SECTION HERO */

/* DETAILS SECTION */
.section-title-details {
  font-weight: 900;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--titel-text-color);
}

/* OUR SPECIFICATION */
.section-title-specification {
  font-weight: 900;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--titel-text-color);
}
.section-title-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
/* END OUR SPECIFICATION */

/* OUR TEAM SECTION */

.team-section-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--titel-text-color);
}
.name-developer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.189;
  letter-spacing: 0.03em;
  color: var(--titel-text-color);
}
.description-developer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.189;
  letter-spacing: 0.03em;
}
/* END OUR TEAM SECTION */

/* LOGO WEBSTUDIO FOOTER */
.logo-footer {
  font-family: 'Raleway', 'sans-serif';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  left: 215px;
  top: 24px;
  color: var(--sometimes-white-text-color);
}
.footer {
  color: var(--sometimes-white-text-color);
  background-color: var(--background-color-footer-section-hero);
}
.logo-web-part-footer {
  color: var(--accent-text-color);
}
/* END LOGO WEBSTUDIO FOOTER */

/* FOOTER CONTACTS LINKS + ADDRESS DESCRIPTION */
.address {
  font-style: normal;
}
.address-text-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--sometimes-white-text-color);
}
.footer-contacts-mail:hover,
.footer-contacts-mail:focus {
  color: var(--accent-text-color);
}
.footer-contacts-mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--rgba-color-for-tel-mail);
}
.footer-contacts-tel:hover,
.footer-contacts-tel:focus {
  color: var(--accent-text-color);
}
.footer-contacts-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--rgba-color-for-tel-mail);
}
/* --------------- PORTFOLIO --------------- */

/* HEADER IS THE SAME AS ON MAIN PAGE */

/* MAIN CONTAINER PRODUCTS */

/* PRODUCT BUTTON */
.active-button:hover,
.active-button:focus {
  background-color: var(--accent-text-color);
  color: var(--sometimes-white-text-color);
}
.active-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.733;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--button-background-color);
  color: var(--titel-text-color);
}
/* END PRODUCT BUTTON */

/* EXAMPLES PROJECT */
.examples-project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--titel-text-color);
}
.description-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
